In [1]:
# import dependencies
import pandas as pd

In [2]:
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RSH1OZ87OYK92,2,2,3,N,N
1,R1WFOQ3N9BO65I,5,0,0,N,Y
2,R3YOOS71KM5M9,5,0,0,N,Y
3,R3R14UATT3OUFU,5,0,0,N,Y
4,RV2W9SGDNQA2C,5,0,0,N,Y

In [3]:
vine_df.count()

review_id            145431
star_rating          145431
helpful_votes        145431
total_votes          145431
vine                 145431
verified_purchase    145431
dtype: int64

In [4]:
# Create a DataFrame or table where there are 20 or more total votes
filtered_total_votes = vine_df.loc[vine_df['total_votes'] >= 20]
filtered_total_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1436,R17V95WYC9ZXDD,1,0,20,N,Y
1594,R235HEIYY15NZX,1,0,26,N,Y

In [5]:
# Create a DataFrame or table where the percentage of helpful_votes is equal to or greater than 50%
helpful_votes = filtered_total_votes.loc[(filtered_total_votes['helpful_votes']/filtered_total_votes['total_votes']) >= 0.5]
helpful_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N

In [6]:
#  Create a DataFrame or table where there is a Vine review
paid_review = helpful_votes.loc[helpful_votes['vine'] == 'Y']
paid_review.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [7]:
# Create a DataFrame or table where there isn’t a Vine review
unpaid_review = helpful_votes.loc[helpful_votes['vine'] == 'N']
unpaid_review.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N

In [8]:
# The total number of reviews
paid_count = paid_review["star_rating"].count()



# The number of 5-star reviews
paid_review_5_star = paid_review.loc[paid_review['star_rating'] == 5]['star_rating'].count()

# Percentage of 5-star reviews

paid_review_percent = round(((paid_review_5_star/paid_count) * 100),2)

print(paid_count)
print(paid_review_5_star)
print(paid_review_percent)

0
0
nan

C:\Users\peopl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in longlong_scalars
  # This is added back by InteractiveShellApp.init_path()

In [9]:
# The total number of reviews
unpaid_count = unpaid_review["star_rating"].count()



# The number of 5-star reviews
unpaid_review_5_star = unpaid_review.loc[unpaid_review['star_rating'] == 5]['star_rating'].count()

# Percentage of 5-star reviews

unpaid_review_percent = round(((unpaid_review_5_star/unpaid_count) * 100),2)

print(unpaid_count)
print(unpaid_review_5_star)
print(unpaid_review_percent)

1685
631
37.45